<div class="review-section">
    <div>
        <app-header [iconType]="'id'" [headerText]="'Digital Review'" [headerType]="'review'"></app-header>
    </div>
    <div class="review-items">
        <app-display-box [textContent]="'VoIP Acc. #1'"></app-display-box>
        <app-display-box [textContent]="'Social NW (3)'"></app-display-box>
        <app-display-box [textContent]="'Video (3)'"></app-display-box>
        <app-display-box [textContent]="'VoIP Acc. #1'"></app-display-box>
        <app-display-box [textContent]="'VoIP Acc. #1'"></app-display-box>
        <app-display-box [textContent]="'VoIP Acc. #1'"></app-display-box>
        <app-display-box [textContent]="'VoIP Acc. #1'"></app-display-box>
        <app-display-box [textContent]="'VoIP Acc. #1'"></app-display-box>
        <app-display-box [textContent]="'VoIP Acc. #1'"></app-display-box>
        <app-display-box [textContent]="'VoIP Acc. #1'"></app-display-box>
    </div>
</div>