<span *ngIf="chooseIcon() == 'id'" class="id-card">
    <i class="fi fi-tr-id-card"></i>
</span>

<span *ngIf="chooseIcon() == 'avatar'" class="avatar">
    <i class="fi fi-tr-circle-user"></i>
</span>

<span *ngIf="chooseIcon() == 'shipping'" class="shipping">
    <i class="fi fi-tr-paper-plane-launch"></i>
</span>

<span *ngIf="chooseIcon() == 'email'" class="email">
    <i class="fi fi-tr-envelope-open"></i>
</span>

<span *ngIf="chooseIcon() == 'mobile'" class="mobile">
    <i class="fi fi-tr-smartphone"></i>
</span>